<%- include('partials/title') %>
    <div class="jumbotron text-center">
        <h1 class="display-4">Wildlife Sanctuary</h1>
        <p class="lead">Dedicated to the Conservation and Study of Endangered Species</p>
        <hr class="my-4">
        <p>Our sanctuary serves as a research and conservation center for some of the world's most endangered species. Through our database, we track and manage the well-being of our resident species while contributing to global conservation efforts.</p>
        <div class="mt-4">
            <a href="/animals" class="btn btn-primary btn-lg me-2">Explore Species Database</a>
            <a href="/animals/new" class="btn btn-outline-primary btn-lg">Add New Species</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> 